<a href="https://colab.research.google.com/github/TalonFarmer/COP4020-Python-Assignment/blob/main/OneDayPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## One Day Python Assignment
This is the assignment intended to teach Python from the basics all the way to using Pandas Dataframes. It is not intended to be comprehensive, but rather a survey of the major topics to get the learner from point A to B.    
   
Part 1 will be worth 100 points and Part 2 will be worth 100 points. There will only be one assignment on Canvas worth 100 points. The final grade for this will be divided by 2 and rounded up.     
So if you got 100 on Part 1 and 67 on Part 2, you will have 167 / 2 = 83.5. Extra credit is added onto Part 1, so, again: if you got 110 on Part 1 and 67 on Part 2, you will have 177 / 2 = 90.

### PART 1

 1. Print “Hello World”  (2 pts)

In [ ]:
print("Hello World")

Hello World

2.  Save your age to a variable called “age”    
3.  Print “Hello World, I’m (age variable) today.”    (5 pts)

In [ ]:
age = 25
print("Hello World, I'm", age, "today.")

Hello World, I'm 25 today.

4. Print “hello world” in all upper case using a Python string method to alter it (4 pts)

In [ ]:
txt = "hello world"
print(txt.upper())

HELLO WORLD

 5. Save any decimal in a variable called a.   
 Cast a into an int and save it as b.  
 Cast a into a string and save it as c.   
 Print each variable and its type.   (11 pts)

In [ ]:
a = 2.5
b = int(a)
c = str(a)

print("Decimal:", a)
print("Integer:", b)
print("String:", c)

Decimal: 2.5
Integer: 2
String: 2.5

6. Create a tuple of your favorite things to eat and print it.   (4 pts)

In [ ]:
my_tuple = (1, "Burritos", "Video Games", "The Beach")
print(my_tuple[1:])

('Burritos', 'Video Games', 'The Beach')

7. Create a dictionary named ‘classes’ with the name of the classes you are taking as the keys and the professors names as the values.
Print the dictionary and tuple.   (10 pts)

8. Create a list called “whole” and put every number in it from 1 - 100  (10 pts)

9. Create 4 empty lists called ‘div2’, ‘div3’, ‘div4’, and ‘div5’       
Create a loop that examines each number from 1 to 100 and:    
 If it is divisible by 2, put it in div2   (6 pts)    
 If it is divisible by 3, put it in div3   (6 pts)     
 If it is divisible by 4, put it in div4   (6 pts)    
 If it is divisible by 5, put it in div5   (6 pts)    
 Print all 5 of these lists

In [ ]:
#7
classes = {
    "Communications Networks": "Professor Ilyas",
    "Princip of Programming Languages": "Professor Lloyd",
    "full-stack web dev": "Professor Jaramillo"
}


print("Classes and Professors:")
print(classes)


print("\nTuple of Classes and Professors:")
print(tuple(classes.items()))

#8
whole = [num for num in range(1, 101)]

print(whole)

#9
div2 = []
div3 = []
div4 = []
div5 = []

for num in range(1, 101):
    if num % 2 == 0:
        div2.append(num)
    if num % 3 == 0:
        div3.append(num)
    if num % 4 == 0:
        div4.append(num)
    if num % 5 == 0:
        div5.append(num)

print("Numbers divisible by 2:", div2)
print("Numbers divisible by 3:", div3)
print("Numbers divisible by 4:", div4)
print("Numbers divisible by 5:", div5)

Classes and Professors:
{'Communications Networks': 'Professor Ilyas', 'Princip of Programming Languages': 'Professor Lloyd', 'full-stack web dev': 'Professor Jaramillo'}

Tuple of Classes and Professors:
(('Communications Networks', 'Professor Ilyas'), ('Princip of Programming Languages', 'Professor Lloyd'), ('full-stack web dev', 'Professor Jaramillo'))
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
Numbers divisible by 2: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]
Numbers divisible by 3: [3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]
Numbers divisible by 4: [4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60, 64, 68, 72, 76, 80, 84, 88, 92, 96, 100]
Numbers divisible by 5: [5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]

10. Create a new list called “divOver5”   (3 pts)

In [ ]:
divOver5 = []

11. Create a new loop that goes through each number 1 through 100 and appends it to divOver5 if it is NOT IN div2 or div3 or div4 or div5      
 You must use logical operators here.   
Print divOver5   (10 points)

In [ ]:
div2 = []
div3 = []
div4 = []
div5 = []
divOver5 = []


for num in range(1, 101):
    if num not in div2 and num not in div3 and num not in div4 and num not in div5:
        divOver5.append(num)

print("Numbers not divisible by 2, 3, 4, or 5:", divOver5)

Numbers not divisible by 2, 3, 4, or 5: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

12. Create a function called exp3 that takes an int x, raises it to the third power.     
Create a string in the function that says “x^3 = “ and concatenate x onto the end of the string.      
Now return the string from the function.  Call the function exp3 and print what it returns.   (15 pts)

In [ ]:
def exp3(x):
    result = x ** 3
    expression = f"{x}^3 = {result}"
    return expression

print(exp3(5))

5^3 = 125

13. Iterate through the classes dictionary and print the keys    (5 pts)

In [ ]:
classes = {
    "Communications Networks": "Professor Ilyas",
    "Princip of Programming Languages": "Professor Lloyd",
    "full-stack web dev": "Professor Jaramillo"
}


print("Class Names:")
for class_name in classes.keys():
    print(class_name)

Class Names:
Communications Networks
Princip of Programming Languages
full-stack web dev

14. Iterate through the classes dictionary and print the values   (5 pts)

In [ ]:
classes = {
     "Communications Networks": "Professor Ilyas",
    "Princip of Programming Languages": "Professor Lloyd",
    "full-stack web dev": "Professor Jaramillo"
}


print("Professor Names:")
for professor_name in classes.values():
    print(professor_name)

Professor Names:
Professor Ilyas
Professor Lloyd
Professor Jaramillo

(Worth +10 points) Extra Points:   
Create a class called Student that has the properties:    
	name (holds student name)    
	age (holds student age)    
	birthmonth (hold students birthmonth)

	A count variable exists that is set to 0 (see lecture) and upon each call to the class this variable increments     

	2 functions in the class:  displayName which returns the name of the student and displayBirthmonth which returns the birth month of the student    

	Now create 3 students, use whatever data you want.       
	Call displayName() on student1     
	Call displayBirthmonth() on student2    
	print the student count

In [ ]:
class Student:
    count = 0

    def __init__(self, name, birth_month):
        self.name = name
        self.birth_month = birth_month
        Student.count += 1

    def displayName(self):
        return self.name

    def displayBirthmonth(self):
        return self.birth_month


student1 = Student("Talon", "October")
student2 = Student("Adam", "March")
student3 = Student("Stephen", "December")


print("Name of student1:", student1.displayName())
print("Birth month of student2:", student2.displayBirthmonth())
print("Student count:", Student.count)

Name of student1: Talon
Birth month of student2: March
Student count: 3

### PART 2

This part will require you to use the film_results.txt file provided on Canvas. You will also need to import NumPy and Pandas.

1. Move the film_results.txt file from Blackboard into your project directory.     
 Create 3 lists, one for states, one for shows, and one for viewers.     
 Ingest data from text file and put it into a NumPy array (show_results.txt)      
	Itll look like a nested list.       
          [ [‘Oregon’, ‘Once Upon a Time’, ‘4075’] [...] …]     
 Print the raw data   (10 pts)

In [ ]:
import numpy as np


with open("film_results.txt", "r") as file:
    data = file.readlines()


states = []
shows = []
viewers = []


for line in data:
    line = line.strip().split(",")
    states.append(line[0])
    shows.append(line[1])
    viewers.append(int(line[2]))


states_array = np.array(states)
shows_array = np.array(shows)
viewers_array = np.array(viewers)

print("States Array:")
print(states_array)
print("\nShows Array:")
print(shows_array)
print("\nViewers Array:")
print(viewers_array)

2.  Take the data from the NumPy array and sort it by state, show and viewers, putting each into the appropriate lists you defined earlier.  (so now you have 3 lists, one with states, one with shows and one with viewer counts.)  No duplicates in the states and shows.  Duplicates can and should exist in the viewers.      
So the states list will look like this: ['Washington', 'Nevada', 'Idaho', 'California', 'Oregon']      
 Print these unsorted lists    (5 pts)

In [ ]:
import numpy as np


with open("film_results.txt", "r") as file:
    data = file.readlines()


states = []
shows = []
viewers = []


for line in data:
    line = line.strip().split(",")
    states.append(line[0])
    shows.append(line[1])
    viewers.append(int(line[2]))


states_array = np.array(states)
shows_array = np.array(shows)
viewers_array = np.array(viewers)


print("States Array:")
print(states_array)
print("\nShows Array:")
print(shows_array)
print("\nViewers Array:")
print(viewers_array)

FileNotFoundError: [Errno 2] No such file or directory: 'film_results.txt'

3. Convert all 3 lists into NumPy arrays     
 print new NumPy Arrays    (10 pts)

In [ ]:
import numpy as np


with open("film_results.txt", "r") as file:
    data = file.readlines()


states = []
shows = []
viewers = []


for line in data:
    line = line.strip().split(",")
    states.append(line[0])
    shows.append(line[1])
    viewers.append(int(line[2]))


states_array = np.array(states)
shows_array = np.array(shows)
viewers_array = np.array(viewers)


states_unique = list(set(states_array))
shows_unique = list(set(shows_array))


states_unique.sort()
shows_unique.sort()


sorted_states = []
sorted_shows = []
sorted_viewers = []


for state in states_unique:
    for show in shows_unique:
        for idx, s in enumerate(states):
            if s == state and shows[idx] == show:
                sorted_states.append(state)
                sorted_shows.append(show)
                sorted_viewers.append(viewers[idx])


sorted_states_array = np.array(sorted_states)
sorted_shows_array = np.array(sorted_shows)
sorted_viewers_array = np.array(sorted_viewers)


print("Sorted NumPy Arrays:")
print("States:", sorted_states_array)
print("Shows:", sorted_shows_array)
print("Viewers:", sorted_viewers_array)

4. Sort the States and Shows arrays      
	Now your States array will look like:      
	['California', 'Idaho', 'Nevada', 'Oregon', 'Washington']      
Convert the Viewers array from STRINGS into INTS      
Sum up viewers list into one variable (you can do this in one line)       
Print: Sorted arrays (states and shows), viewers list (as ints), and the variable that is the sum of the viewers list.        (30 pts)

In [ ]:
import numpy as np


with open("film_results.txt", "r") as file:
    data = file.readlines()


states = []
shows = []
viewers = []


for line in data:
    line = line.strip().split(",")
    states.append(line[0])
    shows.append(line[1])
    viewers.append(int(line[2]))


states_array = np.array(states)
shows_array = np.array(shows)
viewers_array = np.array(viewers)


states_unique = np.unique(states_array)
shows_unique = np.unique(shows_array)


sorted_states = np.sort(states_unique)
sorted_shows = np.sort(shows_unique)


print("Sorted Arrays:")
print("States:", sorted_states)
print("Shows:", sorted_shows)

viewers_array_int = viewers_array.astype(int)


total_viewers = np.sum(viewers_array_int)


print("Viewers List (as integers):", viewers_array_int)
print("Total Viewers:", total_viewers)

5. Create 2 DataFrames:      
show_raw_stats: index = numpy sorted array of SHOWS; columns = numpy sorted array of STATES      
show_agg_stats: index = same as above; columns= a list with the words Max, Min, Totals and Percent in it (like this… [‘Max’,’Min’,’Totals’, ‘Percent’]        
Populate show_raw_stats with data from the Original Array ingested from film_results.txt.
Populate the Max, Min, Totals, and Percent in show_agg_stats using the DataFrame native functionality    
Print both dataframe   (30 pts)     

HINT:  You will need to create a loop here that basically goes the length of the original array, and on each iteration, it grabs the STATE, SHOW, and VIEWERS number (itll be a string so youll have to convert it…).    
The final step of each iteration will be placing it in the dataframe in the correct spot as an accumulation. +=      (Otherwise you just writing over the value there)

In [ ]:
#5

import pandas as pd
import numpy as np


with open("film_results.txt", "r") as file:
    data = file.readlines()


states = []
shows = []
viewers = []


for line in data:
    line = line.strip().split(",")
    states.append(line[0])
    shows.append(line[1])
    viewers.append(int(line[2]))


states_array = np.array(states)
shows_array = np.array(shows)
viewers_array = np.array(viewers)


sorted_states = np.sort(np.unique(states_array))
sorted_shows = np.sort(np.unique(shows_array))


show_raw_stats = pd.DataFrame(index=sorted_shows, columns=sorted_states)


for state, show, viewer_count in zip(states, shows, viewers):
    show_raw_stats.loc[show, state] = viewer_count


show_agg_stats = pd.DataFrame(index=sorted_shows, columns=['Max', 'Min', 'Total', 'Percent'])


for show in sorted_shows:
    viewers_show = show_raw_stats.loc[show].dropna()
    show_agg_stats.loc[show, 'Max'] = viewers_show.max()
    show_agg_stats.loc[show, 'Min'] = viewers_show.min()
    show_agg_stats.loc[show, 'Total'] = viewers_show.sum()
    show_agg_stats.loc[show, 'Percent'] = (viewers_show.sum() / viewers_array.sum()) * 100


print("show_raw_stats DataFrame:")
print(show_raw_stats)
print("\nshow_agg_stats DataFrame:")
print(show_agg_stats)

#6
#Highest percentage: Game of Thrones
#Lowest percentage: Once Upon a Time
#Favorite: Game of Thrones, that is an amazing show!

FileNotFoundError: [Errno 2] No such file or directory: 'film_results.txt'

6. Print the answer to these questions in a Markdown cell, do not print them with Python:        
Which Show has the highest percentage?   (5 pts)      
Which Show has the lowest percentage?    (5 pts)     
Which show is your favorite?             (5 pts)

### Please try to follow the directions as closely as possible.  You might think of better ways to implement this, with less lines of code the skips steps and thats great, but not for this assignment.  If you do think of these, put them in comments and extra points will be given for those but follow these steps.